  *{
                margin:0;
                padding:0;
                box-sizing:border-box;
                font-family:sans-serif;
                scroll-behavior:smooth;
            }
            html{
            scroll-behavior:smooth;
            }
            body{
                padding-top: 20px;
                background-color:white;
                overflow:scroll;
                display:flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                scroll-behavior:smooth;
                overflow:visible;
              
            }
